# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Company/ProjectCompany/ProjectCompany/Debug/ProjectCompany.tlog/CL.write.1.tlog
Company/ProjectCompany/ProjectCompany/Debug/ProjectCompany.tlog/CL.read.1.tlog
Company/ProjectCompany/ProjectCompany/Debug/ProjectCompany.tlog/ProjectCompany.lastbuildstate
Company/ProjectCompany/ProjectCompany/Debug/ProjectCompany.tlog/link.command.1.tlog
Company/ProjectCompany/ProjectCompany/Debug/ProjectCompany.tlog/link.read.1.tlog
Company/ProjectCompany/ProjectCompany/Debug/ProjectCompany.tlog/link.write.1.tlog
Company/ProjectCompany/ProjectCompany/Debug/vc140.idb
Company/ProjectCompany/ProjectCompany/ProjectCompany.vcxproj
Company/ProjectCompany/ProjectCompany/ProjectCompany.vcxproj.filters
Company/ProjectCompany/ProjectCompany.VC.opendb
Company/ProjectCompany/ProjectCompany.sdf
Company/ProjectCompany/ProjectCompany.sln
Company/ProjectCompany/ProjectCompany/Debug/ProjectCompany.tlog/CL.command.1.tlog
Zadania/Zadania.VC.opendb
Zadania/Zadania.sdf
Zadania/Zadania.sln
Zadania/Zadania/Zadania.vcxproj
Zadania/Zadania/Zadania.vcxproj.filters
Zadania/Zadania/Debug/Zadania.tlog/CL.command.1.tlog
Zadania/Zadania/Debug/Zadania.tlog/CL.read.1.tlog
Zadania/Zadania/Debug/Zadania.tlog/CL.write.1.tlog
Zadania/Zadania/Debug/Zadania.tlog/Zadania.lastbuildstate
Zadania/Zadania/Debug/Zadania.tlog/link.command.1.tlog
Zadania/Zadania/Debug/Zadania.tlog/link.read.1.tlog
Zadania/Zadania/Debug/Zadania.tlog/link.write.1.tlog
Zadania/Zadania/Debug/vc140.idb
